In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df = pd.read_csv('./data/train.csv')
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,4wjJe3AxFyVOSMHLRh68Og,8,2009-08-22 21:06:56,10,ygjO-o4_YoXr41D7Rx9vmw,4,"""What do you do for recreation?""\n\n""Oh, the u...",9,K0sapHOlhlGNjx3GBeSf5A
1,xGXzIliuZ6FgMS870UjPRw,0,2017-08-24 16:53:53,0,MN5bVycm01xc7V3PPBPoMQ,5,The burgers are good and they have good fries ...,0,ykiNDnGo_66TsjknglEcjQ
2,wdwODzBChLIh_u8V8CPpyA,0,2014-08-15 02:31:54,0,9eDWY5cevgRhywg6uTm8Pw,2,"Been there three times, twice they didn't have...",0,4y3C9Mml09FzFk6rq6_g2Q
3,n8Zqqhff-2cxzWt_nwhU2Q,1,2015-06-30 03:48:18,1,Zt9Yj5K1Y-MnDmocXI9Zgw,5,Pretty excited to discover this Cali gastropub...,1,PH7HEuAqSQgOGDi7Ygnulg
4,Em2ZuYiyTr4_ITSCTi86CQ,0,2018-05-25 22:29:25,0,qPR0JlNSMChgCjxY3yyiEw,5,I have been very pleased with the care that I ...,0,5uKGIkrQRISzQCSA6DXtow

In [11]:
df.cool.value_counts()

0     15052
1      3003
2       899
3       390
4       188
5       121
6        89
7        53
8        40
9        26
10       26
12       16
11       15
15        9
18        9
13        9
23        7
17        5
19        5
14        4
25        3
16        3
22        3
27        3
40        2
24        2
28        2
20        2
37        2
43        1
53        1
38        1
29        1
54        1
30        1
42        1
78        1
48        1
32        1
47        1
79        1
Name: cool, dtype: int64

In [3]:
df.business_id.value_counts()

4JNXUYY8wbaaDmk3BPzlWw    28
RESDUcs7fIiihp38-d6_6g    25
f4x1YBxkLrZg652xt2KR5g    21
cYwJA2A6I12KNkm2rtXd5g    19
2weQS-RnoOBhb1KsHKyoSQ    19
                          ..
K8W4XXNM8iehgNtdEI2f4w     1
9mnxjwDqmg1vkgovZQBYCg     1
6FRz-6wFToqoXiad3t_n7g     1
a_E-rLe2zcyX-X4FKhWWRg     1
tPWn698nZ-yYj3yTwOsczQ     1
Name: business_id, Length: 14763, dtype: int64

In [7]:
pd.read_csv('./data/test.csv').stars.value_counts()

0.0    2000
Name: stars, dtype: int64

In [9]:
from textblob import TextBlob

sub = []
pol = []
for txt in df['text']:
    blob = TextBlob(txt).sentiment
    sub.append(blob.subjectivity)
    pol.append(blob.polarity)

df['subjectivity'] = sub
df['polarity'] = pol
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,subjectivity,polarity
0,4wjJe3AxFyVOSMHLRh68Og,8,2009-08-22 21:06:56,10,ygjO-o4_YoXr41D7Rx9vmw,4,"""What do you do for recreation?""\n\n""Oh, the u...",9,K0sapHOlhlGNjx3GBeSf5A,0.549342,0.124905
1,xGXzIliuZ6FgMS870UjPRw,0,2017-08-24 16:53:53,0,MN5bVycm01xc7V3PPBPoMQ,5,The burgers are good and they have good fries ...,0,ykiNDnGo_66TsjknglEcjQ,0.733333,0.300000
2,wdwODzBChLIh_u8V8CPpyA,0,2014-08-15 02:31:54,0,9eDWY5cevgRhywg6uTm8Pw,2,"Been there three times, twice they didn't have...",0,4y3C9Mml09FzFk6rq6_g2Q,0.515385,0.040297
3,n8Zqqhff-2cxzWt_nwhU2Q,1,2015-06-30 03:48:18,1,Zt9Yj5K1Y-MnDmocXI9Zgw,5,Pretty excited to discover this Cali gastropub...,1,PH7HEuAqSQgOGDi7Ygnulg,0.579762,0.241667
4,Em2ZuYiyTr4_ITSCTi86CQ,0,2018-05-25 22:29:25,0,qPR0JlNSMChgCjxY3yyiEw,5,I have been very pleased with the care that I ...,0,5uKGIkrQRISzQCSA6DXtow,0.603968,0.318750

In [10]:
df[['polarity', 'subjectivity', 'stars']].corr()

              polarity  subjectivity     stars
polarity      1.000000      0.301316  0.623233
subjectivity  0.301316      1.000000  0.194197
stars         0.623233      0.194197  1.000000

1. tokenize text (cleaning)
2. feature enginnering
    1. textbolb
    2. mrc/sentiworldnet etc.: high, low, mean, median of tokens
3. models
    1. lightgbm
    2. NN
    3. bert
4. evaluation with validation data